@charset "UTF-8";
/* CSS Document */
/* Project name: TRADITUM WEB SITE */
/* File name: traditum.css */
/* Description: Global Style Sheet */
/* Creation date: Dec. 2019 */
/* Author: Javier Herrera */
/* Author's eMail: contacto@javier-herrera.com */
/* Version: 1.0 */
/* WARNING: Please don't edit this stylesheet. If you want to add/delete/modify some css rules, go to the Sass folder and edit the corresponding file */
/* COMPILER: You can compile the Sass files with prepros.io, koala-app.com, gulp, ruby gem sass, npm task or other SassLib compiler */
/***********************************/
/*========= NORMALIZE V.8 =========*/
/***********************************/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  display: inline-block; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/*******************************/
/*========= FONT-FACE =========*/
/*******************************/
@font-face {
  font-family: 'Muli';
  src: url("fonts/Muli.woff2") format("woff2"), url("fonts/Muli.woff") format("woff"); }

@font-face {
  font-family: 'Muli Semi Bold';
  src: url("fonts/MuliSemiBold.woff2") format("woff2"), url("fonts/MuliSemiBold.woff") format("woff"); }

@font-face {
  font-family: 'Muli Bold';
  src: url("fonts/MuliBold.woff2") format("woff2"), url("fonts/MuliBold.woff") format("woff"); }

/***************************************/
/*========= RESET's & OTHERS =========*/
/*************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none; }

figure {
  line-height: 0;
  margin: 0; }

::-moz-selection {
  background: #d6db7e;
  color: #ffffff; }

::selection {
  background: #d6db7e;
  color: #ffffff; }

img {
  max-width: 100%; }

strong {
  font-weight: normal;
  font-family: "Muli Bold"; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  html.no-scroll {
    overflow-y: hidden; }

body {
  font-family: "Muli", sans-serif;
  font-size: 10px;
  min-height: 100vh;
  overflow-x: hidden; }
  body.no-scroll {
    overflow-y: hidden; }

/***************************************/
/*========= WRAPPER-&-BASICS =========*/
/*************************************/
.read-only,
.d-none {
  display: none; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; }

.btn {
  display: inline-block;
  font-size: 1.4em;
  padding: 0.9em 2em;
  border-radius: 30px;
  border: solid 1px transparent; }

.btn-outline-purple {
  border-color: #A91F8E;
  border-width: 2px;
  color: #A91F8E; }

.btn-outline-white {
  border-color: #ffffff;
  color: #ffffff; }

.btn-outline-green {
  border-color: #B6BE35;
  color: #B6BE35; }

.btn-blue {
  background-color: #0083C1;
  color: #ffffff; }

.social-media-anchors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .social-media-anchors li {
    margin: 0 5px; }
  .social-media-anchors a {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #a4a4a4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 300ms;
    -webkit-transition: 300ms; }
    .social-media-anchors a:hover {
      transform: rotate(360deg);
      border-radius: 50%; }

#sticky-anchor {
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 100; }

/*****************************/
/*========= HEADER =========*/
/***************************/
.main-header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 200; }

.logo {
  max-width: 200px;
  margin: auto; }
  .logo a {
    display: block; }
  .logo img {
    width: 100%; }

/*========= NAV-BAR =========*/
.main-nav {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.85);
  transition: 250ms ease-out 100ms; }
  .main-nav.show {
    width: 100vw;
    overflow-y: scroll; }

.toggle-nav {
  border: none;
  background-color: rgba(169, 31, 142, 0.7);
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 1.8em;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1010; }

.first-level-nav {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center; }
  .first-level-nav > li {
    width: 100%;
    margin: 10px 0;
    text-align: center; }
    .first-level-nav > li.actual > a {
      color: #B6BE35 !important; }
    .first-level-nav > li:hover .drop-nav {
      display: block; }
    .first-level-nav > li > a {
      font-size: 1.7em;
      display: block;
      white-space: nowrap;
      padding: 5px; }
      .first-level-nav > li > a:not([class*=link-rounded]) {
        color: #787878; }

.link-rounded {
  padding: 0.6em 1.2em 0.8em !important;
  border-radius: 30px;
  color: #e365ca;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: inline-flex !important;
  align-items: center;
  background-color: #ffffff; }
  .link-rounded.bg-blue {
    background-color: #0083C1;
    box-shadow: none;
    color: #ffffff; }
  .link-rounded svg {
    fill: #ffffff;
    width: 20px;
    position: relative;
    top: 2px;
    margin-left: 8px; }

.drop-nav {
  display: none;
  margin: 15px auto 0;
  background-color: #ffffff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  max-width: 320px; }
  .drop-nav > li {
    color: #FFFFFF;
    position: relative;
    font-size: 1rem; }
    .drop-nav > li > a {
      font-size: 1.3em;
      color: #929292;
      padding: 1em 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      transition: 300ms;
      -webkit-transition: 300ms; }
      .drop-nav > li > a span {
        display: inline-block;
        border-left: 5px solid;
        padding-left: 10px; }
    .drop-nav > li:nth-child(1) > a span {
      border-left-color: #B6BE35; }
    .drop-nav > li:nth-child(2) > a span {
      border-left-color: #A91F8E; }
    .drop-nav > li:nth-child(3) > a span {
      border-left-color: #0083C1; }
    .drop-nav > li:nth-child(4) > a span {
      border-left-color: #A91F8E; }
    .drop-nav > li:nth-child(5) > a span {
      border-left-color: #009AD8; }

/**********************************/
/*========= MAIN-BANNER =========*/
/********************************/
.video-background {
  height: 100vh;
  padding-top: 50px;
  background: url(../images/bg-video.jpg) center center/cover no-repeat;
  background-origin: content-box; }

.home-video {
  display: none; }

.home-banner {
  max-width: 1200px;
  padding: 15px 15px 40px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  position: relative;
  z-index: 100; }
  .home-banner h1 {
    font-weight: normal;
    font-size: 2.6em;
    line-height: 1.4;
    color: #666666;
    margin: 0;
    position: relative;
    width: 100%; }
    .home-banner h1::before {
      content: '';
      width: 40px;
      height: 3px;
      background-color: #5eb1d7;
      position: absolute;
      left: 0;
      top: -10px; }
  .home-banner p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #777777; }

.icons-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .icons-links li {
    width: 25%;
    max-width: 90px;
    margin-right: 15px; }
    .icons-links li a {
      display: block; }
    .icons-links li svg {
      border-radius: 50%; }
    .icons-links li:nth-child(1) svg {
      background-color: #5EB1D7; }
      .icons-links li:nth-child(1) svg path,
      .icons-links li:nth-child(1) svg rect {
        fill: #ffffff; }
    .icons-links li:nth-child(2) svg {
      background-color: #CBD171; }
      .icons-links li:nth-child(2) svg path,
      .icons-links li:nth-child(2) svg rect {
        fill: #ffffff; }
    .icons-links li:nth-child(3) svg {
      background-color: #C861AE; }
      .icons-links li:nth-child(3) svg path,
      .icons-links li:nth-child(3) svg rect {
        fill: #ffffff; }

/***********************************/
/*========= MAIN-CONTENT =========*/
/*********************************/
.section-title {
  font-size: 2.8em;
  font-weight: normal;
  color: #535353 !important;
  margin-bottom: 1.6em;
  position: relative; }

.title-with-line-purple {
  color: #A91F8E; }
  .title-with-line-purple::before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #A91F8E;
    position: absolute;
    left: 0;
    top: -10px; }

.title-with-line-blue {
  color: #0083C1; }
  .title-with-line-blue::before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #0083C1;
    position: absolute;
    left: 0;
    top: -10px; }

.title-with-line-green {
  color: #B6BE35; }
  .title-with-line-green::before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #B6BE35;
    position: absolute;
    left: 0;
    top: -10px; }

.we-know {
  margin: 80px 0; }

.we-know-list li {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 30px 15px;
  position: relative;
  margin-bottom: 30px;
  position: relative;
  transform: scale(0); }
  .we-know-list li.animate {
    animation: popUpBox 320ms ease-out forwards; }
    .we-know-list li.animate:nth-child(1) {
      animation-delay: 80ms; }
    .we-know-list li.animate:nth-child(2) {
      animation-delay: 160ms; }
    .we-know-list li.animate:nth-child(3) {
      animation-delay: 240ms; }
    .we-know-list li.animate:nth-child(4) {
      animation-delay: 320ms; }
  .we-know-list li::before {
    content: '';
    width: 44px;
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    left: -19px;
    top: -15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transform: rotate(-45deg); }
  .we-know-list li:first-child {
    background-color: #5eb1d7;
    box-shadow: none; }
    .we-know-list li:first-child::before {
      border-bottom: none; }
    .we-know-list li:first-child h3 {
      color: #ffffff; }
      .we-know-list li:first-child h3 span {
        color: #ffffff; }
    .we-know-list li:first-child p {
      color: #ffffff; }
  .we-know-list li h3 {
    font-size: 3.9em;
    font-weight: normal;
    margin: 0;
    color: #B6BE35;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .we-know-list li h3 span {
      font-size: 0.38462em;
      padding-left: 10px;
      color: #525252;
      font-family: "Muli Bold"; }
    .we-know-list li h3 i {
      font-style: normal;
      color: #009AD8; }
  .we-know-list li p {
    font-size: 1.5em;
    line-height: 1.6;
    color: #999999;
    position: relative;
    z-index: 10; }
  .we-know-list li img {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 60px; }

@keyframes popUpBox {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.we-know-text p {
  color: #888888;
  font-size: 1.5em;
  line-height: 1.8; }

.we-know-text h4 {
  margin: 1.8em 0;
  color: #009AD8;
  font: normal italic 1.5em/1.8 "Muli"; }

.clients-logos {
  margin-bottom: 130px;
  position: relative; }

.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 0.6;
    font-size: 80px;
    padding: 0;
    color: #A4A4A4;
    line-height: 0; }

.owl-carousel button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(164, 164, 164, 0.5);
  margin: 3px;
  padding: 0; }
  .owl-carousel button.owl-dot.active {
    background-color: rgba(164, 164, 164, 0.9); }

.owl-dots {
  text-align: center; }

.solution-wrapper {
  margin: 45px 0; }

.solution-box-half-size {
  padding: 45px 15px;
  position: relative;
  text-align: center; }
  .solution-box-half-size.bg-green {
    background-color: #B6BE35; }
  .solution-box-half-size.bg-blue {
    background-color: #0083C1; }
  .solution-box-half-size.bg-purple {
    background-color: #c861ae; }
  .solution-box-half-size.bg-gray {
    background-color: #edeff5; }
  .solution-box-half-size.no-padding {
    padding: 0; }

.img-solution-person {
  position: absolute;
  bottom: 0;
  height: 100%;
  max-width: 100%; }
  .img-solution-person.right {
    right: 0; }
  .img-solution-person.left {
    left: 0; }
  .img-solution-person.person-pvo {
    width: auto;
    height: auto;
    max-width: 400px;
    opacity: 0.9; }
  .img-solution-person.sgp-img {
    right: 0; }

.solution-content {
  color: #ffffff;
  position: relative;
  z-index: 10;
  text-align: left; }
  .solution-content h2 {
    margin-top: 0;
    font-size: 3em;
    font-weight: normal; }
  .solution-content p {
    font-size: 1.4em;
    line-height: 1.7;
    margin: 1.5em 0; }

.more-solutions {
  margin: 80px 0 0; }

.other-solution {
  margin-bottom: 60px; }
  .other-solution:last-child {
    animation: highLight 2000ms ease-in infinite alternate; }
  .other-solution h2 {
    position: relative;
    font: normal 1.8em "Muli Semi Bold";
    margin-bottom: 1.5em; }
  .other-solution p {
    font-size: 1.4em;
    line-height: 1.6;
    color: #777777; }

@keyframes highLight {
  0% {
    transform: scale(1.1);
    filter: brightness(1.1); }
  20%,
  100% {
    transform: none;
    filter: none; } }

.other-solution-image {
  max-width: 370px;
  height: 120px;
  margin: auto; }
  .other-solution-image img[data-type=small] {
    height: 100%;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.other-solution-special-box {
  background-color: #A91F8E;
  padding: 15px;
  position: relative;
  width: 93%;
  margin: auto; }
  .other-solution-special-box p {
    color: #ffffff; }
  .other-solution-special-box a {
    display: block;
    color: #ffffff;
    text-align: center;
    background-color: #B6BE35;
    margin: 0 -15px -15px;
    font-size: 1.3em;
    line-height: 1.6;
    padding: 15px 0; }
    .other-solution-special-box a span {
      display: block;
      font-size: 1.4em; }

.it-specialist {
  margin: 60px 0; }

.it-specialist-image {
  text-align: center; }

.it-specialist-text {
  font-size: 1.6em;
  line-height: 1.6;
  color: #777777; }
  .it-specialist-text b {
    color: #A91F8E; }

.it-specialist-services figure {
  margin: 0 auto 15px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: solid 2px #B6BE35;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .it-specialist-services figure img {
    width: 60px; }

.it-specialist-services ul {
  margin-left: 15px;
  list-style: outside disc; }

.it-specialist-services li {
  color: #777777;
  font-size: 1.6em;
  line-height: 1.6;
  padding-left: 0.7em;
  margin-bottom: 1em; }

.overlay {
  position: fixed;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  opacity: 0;
  transition: opacity 320ms;
  transform: scale(0); }
  .overlay.show {
    opacity: 1;
    transform: scale(1);
    z-index: 2000; }
    .overlay.show .overlay-content {
      transform: scale(1); }

.overlay-content {
  width: 80%;
  max-width: 900px;
  background-color: #FFFFFF;
  padding: 10px;
  border: solid 1px #A4A4A4;
  border-radius: 3px;
  position: relative;
  transform: scale(0);
  transition-duration: 320ms;
  transition-delay: 120ms;
  position: relative;
  z-index: 2000; }

.btn-close-video {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  padding: 0;
  font-size: 2em;
  border: none;
  color: #A91F8E;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: solid 1px #7e176a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }

/*****************************/
/*========= FOOTER =========*/
/***************************/
.footer-data-box {
  background-color: #f6f6f6; }

.footer-text {
  padding: 30px 15px;
  color: #9f9f9f; }
  .footer-text h2 {
    font-size: 1.9em;
    font-weight: normal;
    padding-top: 1.5rem;
    margin-bottom: 0; }
  .footer-text p {
    font-size: 1.7em;
    margin: 0.5em 0; }

.map-box {
  background-color: #E1E1E1; }
  .map-box img {
    width: 100%;
    max-width: none; }

.locations-list {
  margin: 40px 0; }
  .locations-list li {
    padding-left: 40px;
    position: relative; }
    .locations-list li:not(:last-child) {
      margin-bottom: 40px; }
    .locations-list li h4 {
      font-size: 1.6em;
      font-weight: normal;
      margin: 0; }
    .locations-list li p {
      font-size: 1.5em;
      margin: 0.3em 0; }
    .locations-list li::before {
      content: '';
      width: 22px;
      height: 22px;
      border: solid 1px red;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 2px; }
    .locations-list li::after {
      content: '';
      width: 14px;
      height: 14px;
      background-color: #ff0000;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      top: 6px; }
    .locations-list li:nth-child(1) h4 {
      color: #A91F8E; }
    .locations-list li:nth-child(1)::before {
      border-color: #A91F8E; }
    .locations-list li:nth-child(1)::after {
      background-color: #A91F8E; }
    .locations-list li:nth-child(2) h4 {
      color: #0083C1; }
    .locations-list li:nth-child(2)::before {
      border-color: #0083C1; }
    .locations-list li:nth-child(2)::after {
      background-color: #0083C1; }
    .locations-list li:nth-child(3) h4 {
      color: #B6BE35; }
    .locations-list li:nth-child(3)::before {
      border-color: #B6BE35; }
    .locations-list li:nth-child(3)::after {
      background-color: #B6BE35; }
    .locations-list li:nth-child(4) h4 {
      color: #777777; }
    .locations-list li:nth-child(4)::before {
      border-color: #777777; }
    .locations-list li:nth-child(4)::after {
      background-color: #777777; }
    .locations-list li:nth-child(5) h4 {
      color: #009AD8; }
    .locations-list li:nth-child(5)::before {
      border-color: #009AD8; }
    .locations-list li:nth-child(5)::after {
      background-color: #009AD8; }

.footer-close {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .footer-close p {
    font-size: 1.2em;
    color: #a4a4a4;
    margin: 2em 0; }

.wrap-top-btn {
  position: fixed;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
  .wrap-top-btn #btn-top {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: #B6BE35;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 300ms;
    -webkit-transition: 300ms; }
    .wrap-top-btn #btn-top.show {
      animation: bounce 2.5s ease-in-out 3s infinite;
      opacity: 1; }

@keyframes bounce {
  0% {
    transform: translateY(0%); }
  10% {
    transform: translateY(-30%); }
  15% {
    transform: translateY(0%); }
  20% {
    transform: translateY(-2%); }
  25% {
    transform: translateY(0%); }
  30% {
    transform: translateY(-2%); }
  35% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.full-contact-form-wrapper {
  position: relative;
  padding-top: 110px; }
  .full-contact-form-wrapper > article {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0; }

.btn-contact-wrap {
  height: 100px;
  overflow: hidden;
  padding-top: 30px; }

.show-contact-form {
  width: 300px;
  height: 300px;
  background-color: #A91F8E;
  display: block;
  margin: auto;
  border: none;
  border-radius: 100% 100% 0 0;
  padding-top: 15px;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .show-contact-form i {
    font-size: 1.5em; }
  .show-contact-form span {
    margin: 10px 0 0;
    font-size: 1.4em; }
  .show-contact-form.up {
    box-shadow: 0 0 10px #A91F8E; }

.contact-form-wrapper {
  overflow: hidden;
  background-color: #f4f5f9;
  height: 0; }
  .contact-form-wrapper.up {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.contact-form-bg {
  background-color: #f4f5f9;
  padding: 45px 0; }

.contact-form-box h2 {
  font: normal 3.5em "Muli Semi Bold";
  color: #545454;
  text-align: center;
  margin-top: 0;
  position: relative; }
  .contact-form-box h2::after {
    content: '';
    width: 35px;
    height: 5px;
    background-color: #0083C1;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%); }

.contact-form-box p {
  font-size: 1.9em;
  color: #535353;
  text-align: center;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto; }
  .contact-form-box p span {
    color: #A91F8E; }
    .contact-form-box p span a {
      color: currentColor; }

.form-box {
  margin-top: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center; }
  .form-box .btn {
    margin-top: 40px; }

.form-group {
  margin: 15px 0;
  width: 100%; }

.form-control {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.6em;
  padding: 0 1em;
  border: none; }

textarea.form-control {
  min-height: 150px;
  resize: vertical;
  border-radius: 15px;
  overflow: hidden;
  padding: 1em; }

.phone-buttons {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  transform: transformY(-50%); }
  .phone-buttons p {
    margin: 0;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    right: -100%;
    transform: translateX(-30px);
    transition: 300ms;
    -webkit-transition: 300ms; }
    .phone-buttons p:hover {
      right: 0;
      transform: translateX(0); }
  .phone-buttons i {
    width: 30px;
    height: 30px;
    background-color: #3B3A3A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 15px;
    border: solid 1px #FFFFFF; }
  .phone-buttons a {
    background-color: #0083C1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 10px;
    font-size: 13px;
    flex-grow: 1;
    color: currentColor; }

.error:is(label) {
  color: tomato;
  font-size: 1.3em;
  display: inline-block;
  padding: 0.5rem 0 0 0.5rem; }

.error:is(:not(label)) {
  box-shadow: 0 0 4px 1px tomato; }

/*******************************/
/*========= SECTIONS =========*/
/*****************************/
.inside-header {
  padding-top: 70px; }
  .inside-header .social-media-anchors {
    justify-content: flex-end;
    padding: 1rem 0; }
    .inside-header .social-media-anchors li:last-child {
      margin-right: 0; }

.bread-crumbs {
  font-size: 1.4em; }
  .bread-crumbs li {
    margin-right: 7px;
    color: #999999;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .bread-crumbs li:last-child a {
      color: #A91F8E;
      cursor: text; }
  .bread-crumbs a {
    color: inherit;
    margin-right: 10px;
    position: relative;
    top: -1px;
    padding: 5px 0; }
    .bread-crumbs a:hover {
      color: #009AD8; }

/*=== About ===*/
.about-content {
  margin: 30px 0 90px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.about-image {
  text-align: center;
  animation: show 900ms ease-in 500ms forwards;
  opacity: 0; }

.about-text {
  background-color: #f3f5f9;
  padding: 30px;
  opacity: 0;
  animation: show 450ms ease-in 650ms forwards; }
  .about-text h2 {
    margin-bottom: 0; }
  .about-text p {
    font-size: 1.6em;
    color: #777777;
    line-height: 1.7; }
    .about-text p.about-special-p {
      background-color: #5eb1d7;
      color: #ffffff;
      margin: 0 -30px -30px;
      line-height: 1.3;
      padding: 30px; }

.about-years {
  margin: auto;
  order: -1;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .about-years img {
    width: 70px; }
  .about-years p {
    font-size: 1.3em;
    color: #999999;
    font-style: italic;
    width: calc(85% - 70px);
    padding-left: 10px;
    max-width: 240px;
    opacity: 0.7; }

/*=== Solutions-General ===*/
.inside-solution-content {
  margin: 30px 0 90px; }

.inside-solution-image-bg {
  display: none; }

.inside-solution-intro_color-box {
  position: relative;
  text-align: right; }
  .inside-solution-intro_color-box.bg-green {
    background-color: #B6BE35;
    border-color: #e2e6a6; }
  .inside-solution-intro_color-box.bg-blue {
    background-color: #0083C1;
    border-color: #5bcaff; }
  .inside-solution-intro_color-box.bg-purple {
    background-color: #df4fc3;
    border-color: #f6d1ef; }
  .inside-solution-intro_color-box.bg-light-purple {
    background-color: #c861ae;
    border-color: #f0d2e8;
    text-align: left; }
  .inside-solution-intro_color-box.no-absolute {
    text-align: center;
    padding: 30px; }
    .inside-solution-intro_color-box.no-absolute img {
      width: 100%;
      height: auto; }
  .inside-solution-intro_color-box.with-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
  .inside-solution-intro_color-box.no-bg {
    background-color: transparent; }
  .inside-solution-intro_color-box h2 {
    color: #FFFFFF;
    position: absolute;
    font-size: 3.3em;
    font-weight: normal;
    padding: 0 15px;
    margin: 0;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    text-align: left; }
  .inside-solution-intro_color-box img {
    height: 300px;
    width: auto; }

.inside-solution-intro_text p {
  font-size: 1.5em;
  color: #A4A4A4;
  line-height: 1.6;
  margin: 1.7em 0; }

.inside-solution-intro_text .btn {
  padding: 8px 16px 8px 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .inside-solution-intro_text .btn i {
    font-size: 1.3em;
    margin-right: 5px; }

.solution-icon {
  border-radius: 100%;
  display: inline-block;
  width: 120px;
  height: 120px;
  border: solid 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .solution-icon.bg-green {
    background-color: #B6BE35;
    background-clip: content-box;
    border-color: rgba(182, 190, 53, 0.5); }
  .solution-icon.bg-blue {
    background-color: #0083C1;
    background-clip: content-box;
    border-color: rgba(0, 131, 193, 0.5); }
  .solution-icon.bg-purple {
    background-color: #A91F8E;
    background-clip: content-box;
    border-color: rgba(169, 31, 142, 0.5); }
  .solution-icon img {
    width: 60px; }

.solution-h5,
.solution-h4,
.solution-h3 {
  font-weight: normal;
  font-family: "Muli Semi Bold";
  text-align: center;
  line-height: 1.6;
  color: #585858; }

.solution-h5 {
  font-size: 1.5em; }

.solution-h4 {
  font-size: 1.8em; }

.solution-h3 {
  font-size: 2.1em; }

.solution-call-to-action {
  background-color: #F3F5F9;
  margin-bottom: 100px;
  text-align: center;
  padding: 30px 0; }
  .solution-call-to-action p {
    font-size: 2em;
    color: #666666;
    margin: 0; }
  .solution-call-to-action .btn {
    margin-top: 30px;
    padding: 8px 25px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .solution-call-to-action .btn img {
      width: 25px;
      margin-left: 8px;
      margin-top: -5px; }

/*=== SGP ===*/
.sgp-channels-list {
  margin: 45px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .sgp-channels-list li {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
  .sgp-channels-list img {
    width: 60px; }
  .sgp-channels-list span {
    width: calc(100% - 60px);
    color: #A4A4A4;
    font-size: 1.3em;
    padding-left: 10px; }

.sgp-bi-title {
  background-color: #B6BE35;
  color: #FFFFFF;
  font-size: 2.3em;
  font-weight: normal;
  margin: 100px auto 30px;
  max-width: 390px;
  height: 50px;
  border-radius: 25px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }

.sgp-bi-list {
  margin-bottom: 60px; }
  .sgp-bi-list li {
    margin-top: 40px; }
  .sgp-bi-list h2 {
    font-weight: normal;
    font-family: "Muli Semi Bold";
    font-size: 1.8em;
    margin: 0;
    color: #B6BE35;
    border-left: solid 3px;
    padding: 8px 15px; }
  .sgp-bi-list p {
    font-size: 1.8em;
    color: #A4A4A4;
    padding-left: 18px;
    line-height: 1.7; }

.sgp-benefits-list,
.pid-benefits-list,
.app-benefits-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row; }
  .sgp-benefits-list li,
  .pid-benefits-list li,
  .app-benefits-list li {
    width: 50%;
    margin-top: 40px;
    text-align: center; }
    .sgp-benefits-list li:last-child,
    .pid-benefits-list li:last-child,
    .app-benefits-list li:last-child {
      margin-right: auto;
      margin-left: auto; }
  .sgp-benefits-list p,
  .pid-benefits-list p,
  .app-benefits-list p {
    font-size: 1.4em;
    color: #A4A4A4;
    padding: 0 15px; }
    .sgp-benefits-list p span,
    .pid-benefits-list p span,
    .app-benefits-list p span {
      color: #A91F8E; }

/*=== APP-AFILIADOS ===*/
.credential-list li {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }
  .credential-list li span {
    width: calc(100% - 80px);
    font-size: 1.7em;
    line-height: 1.6;
    color: #A4A4A4;
    padding-left: 1.2rem; }

.app-inside-section-container {
  margin-top: 150px; }
  .app-inside-section-container h2 {
    text-align: center;
    color: #585859;
    font: normal 2.6em "Muli"; }

.app-benefits-list li:last-child {
  margin-right: 0;
  margin-left: 0; }

.app-why-container {
  margin-top: 8rem; }

.app-why-list li {
  margin-bottom: 3rem; }

.app-why-list h3 {
  color: #A91F8E;
  font: normal 1.6em "Muli";
  margin-bottom: 0; }
  .app-why-list h3 span {
    width: 27px;
    height: 27px;
    background-color: #c861ae;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 0.5rem;
    color: #ffffff;
    transform: translateY(-2px);
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }

.app-why-list p {
  color: #a4a4a4;
  font-size: 1.6em;
  line-height: 1.4;
  margin-top: 1rem; }

.app-cta {
  text-align: center;
  margin: 9rem 0; }
  .app-cta h2 {
    font: normal 2.8em "Muli";
    color: #666666; }
    .app-cta h2 span {
      color: #A91F8E; }
  .app-cta a {
    display: inline-block;
    color: #A91F8E;
    font-size: 1.5em;
    padding: 0.8em 2em;
    border-radius: 2em;
    border: 1px solid currentColor; }

/*=== PVO ===*/
.pvo-special-list li {
  background: linear-gradient(#F6F4F4, #FFFFFF);
  padding: 15px 15px 25px 30px;
  font-size: 1.5em;
  color: #929292;
  line-height: 1.4;
  margin-top: 10px;
  position: relative;
  min-height: 85px; }
  .pvo-special-list li::before {
    content: '•';
    color: #0083C1;
    position: absolute;
    left: 12px;
    top: 15px;
    font-size: 1.1em; }
  .pvo-special-list li::after {
    content: '';
    display: inline-block;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    position: absolute;
    right: -15px;
    top: -15px;
    transform: rotate(45deg); }

.purple-title {
  color: #A91F8E;
  font-size: 2.6em;
  font-weight: normal;
  font-family: "Muli Semi Bold"; }

.pvo-benefits-list li {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }

.pvo-benefits-list p {
  color: #0083C1;
  font-size: 1.5em;
  width: calc(100% - 120px);
  padding-left: 15px; }

/*=== PID ===*/
.video-pid {
  width: 100%; }

/*=== SAR ===*/
.sar-intro-list {
  margin-bottom: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row; }
  .sar-intro-list li {
    width: 50%;
    margin-top: 30px;
    text-align: center; }
  .sar-intro-list img {
    width: 80px;
    margin-bottom: 15px; }
  .sar-intro-list p {
    font-size: 1.6em !important;
    line-height: 1.4;
    color: #A4A4A4;
    margin: 0; }

.sar-service-description {
  text-align: center;
  margin-bottom: 40px; }
  .sar-service-description h2 {
    color: #0083C1;
    font-size: 1.6em;
    font-weight: normal; }
  .sar-service-description ul {
    background: linear-gradient(#F6F4F4, #FFFFFF);
    position: relative;
    text-align: left;
    padding: 30px; }
    .sar-service-description ul::after {
      content: '';
      display: inline-block;
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent #FFFFFF transparent;
      position: absolute;
      right: -15px;
      top: -15px;
      transform: rotate(45deg); }
    .sar-service-description ul li {
      font-size: 1.6em;
      line-height: 1.5;
      color: #A4A4A4;
      margin-bottom: 15px;
      position: relative; }
      .sar-service-description ul li::before {
        content: '•';
        color: #009AD8;
        position: absolute;
        left: -15px;
        top: 0; }

.sar-order-list {
  counter-reset: thisList; }
  .sar-order-list li {
    font-size: 1.5em;
    color: #A4A4A4;
    line-height: 1.5;
    border-left: solid 1px #0083C1;
    padding: 5px 10px;
    margin-top: 40px; }
    .sar-order-list li::before {
      counter-increment: thisList;
      content: "0" counter(thisList);
      display: block;
      font-size: 1.5em;
      color: #0083C1; }
  .sar-order-list span {
    color: #444444; }

.sar-benefits-container {
  margin-top: 120px; }
  .sar-benefits-container h2 {
    color: #0083bf;
    font-family: "Muli Semi Bold";
    font-size: 1.6em;
    line-height: 1.4;
    text-align: center;
    font-weight: normal;
    position: relative;
    padding: 30px;
    padding-bottom: 33px; }
    .sar-benefits-container h2::before, .sar-benefits-container h2::after {
      color: #C8C8C8;
      content: '';
      position: absolute;
      width: 30px;
      height: 30px; }
    .sar-benefits-container h2::before {
      left: 0;
      top: 0;
      border-top: solid 1px;
      border-left: solid 1px; }
    .sar-benefits-container h2::after {
      right: 0;
      bottom: 0;
      border-right: solid 1px;
      border-bottom: solid 1px; }
  .sar-benefits-container ul {
    background-color: #0083C1;
    padding: 45px 30px; }
    .sar-benefits-container ul li {
      color: #FFFFFF;
      font-size: 1.6em;
      line-height: 1.4;
      position: relative;
      padding-left: 10px; }
      .sar-benefits-container ul li:not(:last-child) {
        margin-bottom: 20px; }
      .sar-benefits-container ul li::before {
        content: '';
        background: url(../images/icons/icon-check-mark.svg) center center/70% no-repeat #FFFFFF;
        background-origin: content-box;
        border: solid 1px #0083C1;
        box-shadow: 0 0 0 7px #FFFFFF;
        display: inline-block;
        border-radius: 100%;
        width: 27px;
        height: 27px;
        position: absolute;
        left: -40px;
        top: 10px; }

/*=== Press ===*/
.press-wrap {
  margin: 0 -15px;
  padding-bottom: 4rem; }

.press-title {
  font: normal 2.6em "Muli Semi Bold";
  color: #777777; }

.press-box {
  margin: 0 0 7rem; }

.news-image {
  box-shadow: -8px -8px 0 #B6BE35;
  max-width: 370px;
  margin: auto; }

.news-title {
  color: #0083C1;
  font: normal 2em "Muli Bold";
  position: relative;
  padding-top: 1rem; }
  .news-title::before {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: #0083C1;
    position: absolute;
    left: 0;
    top: 0; }

.news-description {
  font-size: 1.6em;
  line-height: 1.5;
  color: #777777; }

.news-cta {
  color: #A91F8E;
  font-size: 1.5em;
  border: 1px solid;
  padding: .8rem 1.5rem;
  border-radius: 5rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .news-cta:not(:last-of-type) {
    margin-right: 1rem; }
  .news-cta img {
    width: 20px;
    margin-left: 1rem; }

/************************************/
/*========= MEDIA-QUERIES =========*/
/**********************************/
@media (min-width: 576px) {
  .home-banner {
    padding-bottom: 55px; }
    .home-banner h1 {
      font-size: 3.8em; }
    .home-banner p {
      font-size: 1.9em;
      max-width: 490px; }
  .section-title {
    font-size: 3.2em; }
  .we-know-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
    .we-know-list li {
      width: 47%; }
  .we-know-text p {
    font-size: 1.6em; }
  .btn {
    font-size: 1.6em; }
  .solution-content h2 {
    font-size: 3.3em; }
  .solution-content p {
    font-size: 1.9em; }
  .other-solution h2 {
    font-size: 2.4em; }
  .other-solution p {
    font-size: 1.6em; }
  .it-specialist-services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .it-specialist-services figure {
      margin: 0; }
    .it-specialist-services ul {
      margin-left: 25px;
      width: calc(100% - 145px); }
  .inside-solution-intro_color-box h2 {
    font-size: 4em;
    padding: 0 30px; }
  .inside-solution-intro_text p {
    font-size: 1.9em; }
  .inside-solution-intro_text .btn {
    font-size: 1.8em; }
  .sgp-channels-list span {
    font-size: 1.7em; }
  .solution-h4,
  .solution-h5 {
    font-size: 2em; }
  .solution-h3 {
    font-size: 2.6em; }
  .sgp-bi-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
    .sgp-bi-list li {
      width: 48%; }
  .solution-icon {
    width: 140px;
    height: 140px;
    border-width: 15px; }
  .sgp-benefits-list p,
  .pid-benefits-list p,
  .app-benefits-list p {
    font-size: 1.8em; }
  .solution-call-to-action p {
    font-size: 2.8em; }
  .pvo-special-list li {
    font-size: 1.8em; }
  .pvo-benefits-list .solution-icon {
    width: 100px;
    height: 100px; }
    .pvo-benefits-list .solution-icon img {
      width: 60%; }
  .sar-order-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
    .sar-order-list li {
      width: 48%;
      font-size: 1.8em; }
  .sar-benefits-container h2 {
    font-size: 2.2em; } }

@media (min-width: 768px) {
  .video-background {
    background: url(../images/bg-video-lg.jpg) center top/cover; }
  .more-solutions {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
  .other-solution {
    width: 49%;
    overflow: hidden; }
    .other-solution:last-of-type {
      width: 100%; }
  .footer-close {
    flex-direction: row;
    justify-content: space-between; }
    .footer-close img {
      margin-left: 0; }
    .footer-close .social-media-anchors li:first-child {
      margin-left: 0; }
  .main-footer {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
  .footer-data-box,
  .map-box {
    width: 50%; }
  .map-box {
    order: -1;
    overflow: hidden;
    text-align: right; }
    .map-box img {
      width: auto;
      height: 100%; }
  .full-contact-form-wrapper {
    padding-top: 80px; }
  .about-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
  .about-image {
    width: 40%; }
  .about-text {
    width: 60%; }
  .about-years {
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: flex-start;
    width: 80%; }
    .about-years p {
      margin: 0; }
  .form-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
    .form-box .btn {
      margin-left: auto;
      margin-right: auto; }
  .form-group:not(.lg) {
    width: 32%; }
  .inside-header {
    padding-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
    .inside-header .social-media-anchors {
      padding: 0; }
  .inside-solution-content {
    position: relative; }
  .inside-solution-intro_color-box {
    position: absolute;
    width: 60%;
    left: 30%;
    top: 60px; }
  .inside-solution-image-bg {
    display: block;
    width: 60%;
    max-width: 530px; }
  .sgp-benefits-list li {
    width: 33%; }
  .pvo-special-list,
  .pid-benefits-list,
  .app-benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
    .pvo-special-list li,
    .pid-benefits-list li,
    .app-benefits-list li {
      width: 32%; }
  .pid-benefits-list li:last-child {
    margin-left: 0;
    margin-right: 0; }
  .pvo-benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
    .pvo-benefits-list li {
      width: 32%; }
  .sar-intro-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
  .sar-intro-list img {
    margin: 0; }
  .sar-intro-list p {
    width: calc(100% - 80px);
    text-align: left;
    padding-left: 15px; }
  .sar-service-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .sar-service-description ul {
      margin-left: 20px;
      width: calc(100% - 160px); }
  .sar-benefits-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .sar-benefits-container h2 {
      width: 36.66667%;
      padding-left: 10px;
      padding-right: 10px; }
    .sar-benefits-container ul {
      width: 55%; }
  .app-why-img {
    display: block;
    margin: auto; } }

@media (min-width: 992px) {
  .toggle-nav {
    display: none; }
  .main-header {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: transparent;
    transition: 300ms;
    -webkit-transition: 300ms; }
    .main-header:not(.home), .main-header.is-scrolling {
      background-color: rgba(255, 255, 255, 0.97);
      box-shadow: 0 0 9px rgba(0, 0, 0, 0.2); }
    .main-header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row; }
  .logo {
    width: 120px;
    margin: 0; }
  .main-nav {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    overflow: visible; }
  .first-level-nav {
    padding: 0;
    height: 50px;
    align-items: center;
    align-content: flex-start; }
    .first-level-nav > li {
      width: auto;
      margin: 0 3px;
      position: relative; }
      .first-level-nav > li[data-link=solutions] > a {
        padding-bottom: 25px;
        margin-bottom: -20px; }
  .drop-nav {
    position: absolute;
    left: 0;
    top: 45px;
    width: 320px;
    margin: 0; }
    .drop-nav > li > a {
      font-size: 1.4em;
      transition: 300ms;
      -webkit-transition: 300ms; }
      .drop-nav > li > a:hover {
        background-color: #F8F8F8; }
  .video-background {
    padding-top: 105px; }
  .solution-box-half-size.bg-purple img {
    height: 100% !important; }
  .solution-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
    .solution-wrapper.inverted div:nth-of-type(2) {
      order: -1; }
  .solution-box-half-size {
    width: 50%; }
    .solution-box-half-size.with-image {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row; }
    .solution-box-half-size.no-padding img {
      width: auto;
      height: 100%; }
    .solution-box-half-size.bg-purple .mobile-app-img {
      height: 100% !important;
      object-fit: cover; }
  .footer-data-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
  .footer-close p {
    margin: 0; }
    .footer-close p a {
      color: #0083C1; }
  .sgp-channels-list {
    justify-content: space-between;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; }
    .sgp-channels-list li {
      width: auto; }
  .solution-h5 {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto; }
  .solution-h4 {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto; }
  .solution-h3 {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto; }
  .sgp-benefits-list,
  .app-benefits-list {
    justify-content: center; }
    .sgp-benefits-list li,
    .app-benefits-list li {
      width: 25%; }
      .sgp-benefits-list li:last-child,
      .app-benefits-list li:last-child {
        margin-left: 0;
        margin-right: 0; }
  .app-benefits-list p {
    padding: 0;
    line-height: 1.7;
    margin-bottom: 0; }
  .purple-title {
    font-size: 3.3em; }
  .sar-order-list li {
    width: 25%; }
  .press-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
  .press-title {
    font-size: 4em; }
  .news-image {
    margin: 8px 0 0; }
  .news-content {
    width: calc(100% - 370px);
    padding-left: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
  .news-title {
    margin: 0;
    font-size: 2.4em;
    line-height: 1.2;
    padding-top: 1.5rem;
    width: 100%; }
  .news-description {
    font-size: 1.7em;
    line-height: 1.6;
    margin-top: 1.5em;
    width: 100%; }
  .news-cta {
    margin-left: 1rem;
    font-size: 1.6em; }
  .app-why-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
  .app-why-img {
    margin: 0;
    width: 49.16667%; }
  .app-why-list {
    width: 29.16667%; } }

@media (min-width: 1200px) {
  .container,
  .home-banner {
    padding-left: 0;
    padding-right: 0; }
  .logo {
    width: 200px; }
  .first-level-nav > li {
    margin-left: 8px; }
    .first-level-nav > li:hover > a:not(.link-rounded) {
      color: #B6BE35; }
  .link-rounded {
    transition: 300ms;
    -webkit-transition: 300ms; }
    .link-rounded.bg-blue:hover {
      background-color: transparent;
      box-shadow: 0 0 0 1px #0083C1;
      color: #0083C1; }
      .link-rounded.bg-blue:hover svg {
        fill: #0083C1; }
    .link-rounded:not(.bg-blue):hover {
      background-color: #d427b2;
      color: #FFFFFF;
      box-shadow: none; }
  .video-background {
    position: relative;
    background: none;
    background-color: #F2F2F2;
    overflow: hidden; }
  .home-video {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.45; }
  .btn-outline-white {
    transition: 300ms;
    -webkit-transition: 300ms; }
    .btn-outline-white:hover {
      background-color: #009AD8;
      border-color: #009AD8;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    .btn-outline-white.purple-hover:hover {
      background-color: #A91F8E;
      border-color: #009AD8; }
  .icons-links li {
    line-height: 0;
    border-radius: 100%;
    transition: 300ms;
    -webkit-transition: 300ms; }
    .icons-links li:hover {
      transform: rotate(360deg) scale(1.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .we-know {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
    .we-know .section-title {
      margin-top: 0;
      width: 100%; }
  .we-know-list {
    order: 1;
    width: 62.5%; }
    .we-know-list li {
      width: 48%;
      padding-left: 20px;
      padding-right: 20px; }
      .we-know-list li h3 {
        font-size: 5.2em; }
  .we-know-text {
    width: 33.33333%; }
    .we-know-text p {
      margin-top: 0; }
  .solution-wrapper.inverted .solution-box-half-size:not(.with-image) .solution-content {
    padding-left: 100px; }
  .solution-wrapper:not(.inverted) .solution-box-half-size:not(.with-image) {
    justify-content: flex-end; }
  .solution-wrapper:not(.inverted) .solution-box-half-size .solution-content {
    padding-right: 100px; }
  .solution-box-half-size {
    padding: 120px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .solution-box-half-size.bg-purple img {
      height: auto !important;
      bottom: 0; }
    .solution-box-half-size.no-padding {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      flex-wrap: wrap;
      flex-direction: row; }
    .solution-box-half-size.image-right {
      justify-content: flex-end;
      padding-right: 60px; }
  .solution-content {
    width: 600px; }
  .img-solution-home-sgp {
    width: 650px;
    max-width: none;
    margin-right: auto;
    margin-left: 60px; }
  .img-solution-home-pvo {
    margin-left: auto;
    margin-right: 130px; }
  .img-solution-home-pid {
    width: 600px;
    margin-right: auto;
    margin-left: 100px; }
  .img-solution-home-sar {
    margin-left: auto; }
  .img-solution-person.person-pvo {
    width: 100%;
    max-width: 625px; }
  .img-solution-person.sgp-img {
    right: auto;
    left: 0;
    transform: scaleX(-1); }
  .other-solution {
    width: 30.83333%; }
    .other-solution:last-of-type {
      width: 30.83333%; }
    .other-solution h2 {
      line-height: 1.3;
      height: 75px; }
  .it-specialist {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; }
  .it-specialist-image {
    width: 50%; }
  .it-specialist-text {
    margin-right: 1.5%;
    width: 44.16667%; }
    .it-specialist-text p {
      margin-bottom: 1.3em; }
      .it-specialist-text p:first-of-type {
        margin-top: 0; }
  .it-specialist-services {
    margin-top: 60px;
    width: 45%; }
    .it-specialist-services:last-of-type {
      margin-right: 2%; }
  .footer-text {
    width: 600px;
    padding: 0;
    padding-left: 90px; }
  .locations-list {
    margin-top: 60px; }
    .locations-list li:not(:last-child) {
      margin-bottom: 50px; }
  .form-group:not(.lg) {
    width: 30%; }
  .about-image {
    width: 51.66667%; }
  .about-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 60px;
    width: 65%; }
    .about-text p {
      margin-bottom: 1.5em; }
      .about-text p:nth-of-type(4) {
        margin-bottom: 40px; }
      .about-text p.about-special-p {
        margin: 0 -60px -60px;
        padding: 40px 60px; }
  .about-years {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 380px;
    padding: 0;
    justify-content: flex-end; }
    .about-years img {
      width: 100px; }
    .about-years p {
      font-size: 1.4em;
      width: calc(100% - 100px);
      max-width: none; }
  .sgp-bi-list {
    margin-bottom: 100px; }
    .sgp-bi-list li {
      width: 29.16667%; }
  .inside-solution-intro {
    position: relative; }
    .inside-solution-intro + .solution-h4 {
      margin-top: 80px; }
    .inside-solution-intro + .solution-h5 {
      margin-top: 120px; }
  .inside-solution-intro_description {
    width: 1100px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
  .inside-solution-intro_color-box {
    position: relative;
    left: 0;
    top: 0;
    width: 550px;
    height: 390px; }
    .inside-solution-intro_color-box img {
      height: 100%; }
  .inside-solution-intro_text {
    width: calc(100% - 550px);
    padding-left: 45px; }
    .inside-solution-intro_text p {
      line-height: 1.3;
      margin: 1em 0; }
      .inside-solution-intro_text p:first-child {
        margin-top: 0; }
    .inside-solution-intro_text h2 {
      margin-top: 0;
      margin-bottom: 20px; }
  .pvo-special-list li {
    width: 100%; }
  .pvo-inside-section-container {
    margin: 90px auto;
    width: 1100px; }
    .pvo-inside-section-container .pvo-special-list {
      margin-bottom: 60px; }
      .pvo-inside-section-container .pvo-special-list li {
        width: 46.36364%;
        margin-top: 0;
        margin-bottom: 30px; }
  .sar-intro-list {
    margin: 0; }
    .sar-intro-list li {
      margin: 5px 0; }
      .sar-intro-list li p {
        margin: 0; }
  .sar-service-description {
    width: 1170px;
    margin-left: auto; }
    .sar-service-description ul {
      padding-left: 45px; }
    .sar-service-description + .solution-h4 {
      margin-top: 80px;
      font-size: 2.6em;
      max-width: none; }
  .sar-benefits-container ul li:not(:last-child) {
    margin-bottom: 30px; }
  .sar-benefits-container ul li::before {
    left: -45px; }
  .press-wrap {
    padding-bottom: 12rem; }
  .press-box {
    margin-bottom: 5rem; }
  .news-content {
    padding-left: 4.5rem; }
  .news-description {
    line-height: 1.7; }
  .news-cta {
    margin-top: 2rem; } }

/*# sourceMappingURL=traditum.css.map */